openapi: 3.0.2
info:
  version: v1
  title: Te Rito APIs
  description: "<p>Derived from SIF Data Model (New Zealand) v3.1 (rc4)</p>
    <p><strong>Release Date: </strong>07-Aug-2020</p>"
  contact:
    name: Ministry of Education
    url: http://www.terito.govt.nz
    email: terito@education.govt.nz
servers:
  - url: https://{host}.edsby.co.nz/{basePath}
    description: The demonstration Te Rito server
    variables:
      host:
        default: southern
        description: southern.edsby.co.nz is the default demonstration platform
      basePath:
        default: sif
security:
  - sifDataObject:
      - sysadmin
      - TERITO_SMS
  - devt: []
paths:
  /StaffPersonal:
    post:
      summary: Default operation to create one or more StaffPersonal entries
      security:
        - sifDataObject:
            - sysadmin
      parameters:
        - $ref: "#/components/parameters/syncOverride"
      operationId: createStaffPersonals
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                StaffPersonals:
                  $ref: jsonSchema.NZ.create.yaml#/properties/StaffPersonals
            example:
              StaffPersonals:
                StaffPersonal:
                  - StaffPersonalRefId: D3E34F41-9D75-101A-8C3D-00AA001A1652
                    StaffPersonalLocalId: ST-001
                    PersonInfo:
                      Name:
                        FamilyName: Smith
                        GivenName: Fred
                        FullName: Fred Smith
                        IsVerified: N
                      Demographics:
                        BirthDate: 1966-05-01
                      EmailList:
                        Email:
                          - Type: PRIM
                            Address: freddy@gmail.com
                  - StaffPersonalRefId: D3E34F41-9D75-101A-8C3D-00AA001b3652
                    StaffPersonalLocalId: ST-002
                    PersonInfo:
                      Name:
                        FullName: Fred Jones
                        IsVerified: N
                      Demographics:
                        BirthDate: 1966-05-01
                      EmailList:
                        Email:
                          - Type: PRIM
                            Address: fredJ@gmail.com
          application/xml:
            schema:
              type: object
              properties:
                StaffPersonals:
                  $ref: jsonSchema.NZ.create.yaml#/properties/StaffPersonals
            example: >-
              <StaffPersonals>
                <StaffPersonal>
                  <StaffPersonalRefId>D3E34F41-9D75-101A-8C3D-00AA001A1652</StaffPersonalRefId>
                  <StaffPersonalLocalId>ST-001</StaffPersonalLocalId>
                  <PersonInfo>
                    <Name>
                      <FamilyName>Smith</FamilyName>
                      <GivenName>Fred</GivenName>
                      <FullName>Fred Smith</FullName>
                      <IsVerified>N</IsVerified>
                    </Name>
                    <Demographics>
                      <BirthDate>1966-05-01</BirthDate>
                    </Demographics>          
                    <EmailList>
                      <Email>
                        <Type>PRIM</Type>
                        <Address>freddy@gmail.com</Address>
                      </Email>
                    </EmailList>
                  </PersonInfo>
                </StaffPersonal>
                <StaffPersonal>
                  <StaffPersonalRefId>D3E34F41-9D75-101A-8C3D-00AA001b3652</StaffPersonalRefId>
                  <StaffPersonalLocalId>ST-002</StaffPersonalLocalId>
                  <PersonInfo>
                    <Name>
                      <FullName>Fred Jones</FullName>
                      <IsVerified>N</IsVerified>
                    </Name>
                    <Demographics>
                      <BirthDate>1966-05-01</BirthDate>
                    </Demographics>          
                    <EmailList>
                      <Email>
                        <Type>PRIM</Type>
                        <Address>fredJ@gmail.com</Address>
                      </Email>
                    </EmailList>
                  </PersonInfo>
                </StaffPersonal>      
              </StaffPersonals>
      responses:
        "201":
          description: All objects created
          content:
            application/json:
              schema:
                type: object
                properties:
                  StaffPersonals:
                    $ref: jsonSchema.NZ.create.yaml#/properties/StaffPersonals
              example:
                $ref: "#/paths/~1StaffPersonal/post/requestBody/content/application\
                  ~1json/example"
            application/xml:
              schema:
                type: object
                properties:
                  StaffPersonals:
                    $ref: jsonSchema.NZ.create.yaml#/properties/StaffPersonals
              example:
                $ref: "#/paths/~1StaffPersonal/post/requestBody/content/application\
                  ~1xml/example"
        4xx:
          description: Some objects created, some objects failed (named array object)
          content:
            application/json:
              schema:
                type: array
                items:
                  anyOf:
                    - type: object
                      title: Error
                      properties:
                        Error:
                          $ref: "#/components/error"
                    - type: object
                      title: StaffPersonal
                      properties:
                        StaffPersonal:
                          $ref: jsonSchema.NZ.create.yaml#/properties/StaffPersonal
              example:
                - StaffPersonal:
                    StaffPersonalRefId: D3E34F41-9D75-101A-8C3D-00AA001A1652
                    StaffPersonalLocalId: ST-001
                    PersonInfo:
                      Name:
                        FamilyName: Smith
                        GivenName: Fred
                        FullName: Fred Smith
                        IsVerified: N
                      Demographics:
                        BirthDate: 1966-05-01
                      EmailList:
                        Email:
                          - Type: PRIM
                            Address: freddy@gmail.com
                - Error:
                    error: 1009
                    when: 2020-07-16 20:00:46
                    errorstr: "Bad field: PersonInfo-Name-FamilyName: missing required
                      field PersonInfo-Name-FamilyName (LastName) 'None'"
                    localId: ST-002
                    refId: null
        5xx:
          description: Some objects created, some objects failed (implied array object)
          content:
            application/json:
              schema:
                type: array
                items:
                  anyOf:
                    - $ref: "#/components/error"
                    - $ref: jsonSchema.NZ.create.yaml#/properties/StaffPersonal
              example:
                - StaffPersonalRefId: D3E34F41-9D75-101A-8C3D-00AA001A1652
                  StaffPersonalLocalId: ST-001
                  PersonInfo:
                    Name:
                      FamilyName: Smith
                      GivenName: Fred
                      FullName: Fred Smith
                      IsVerified: N
                    Demographics:
                      BirthDate: 1966-05-01
                    EmailList:
                      Email:
                        - Type: PRIM
                          Address: freddy@gmail.com
                - error: 1009
                  when: 2020-07-16 20:00:46
                  errorstr: "Bad field: PersonInfo-Name-FamilyName: missing required
                    field PersonInfo-Name-FamilyName (LastName) 'None'"
                  localId: ST-002
                  refId: null
  "/Organisations/{OrganisationsRefId}":
    get:
      summary: Default operation to get a single Organisation
      operationId: getOrganisation
      parameters:
        - name: OrganisationRefId
          in: path
          description: <p>The SIF GUID used by systems to identify the organisation.</p>
          required: true
          schema:
            type: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  Organisation:
                    $ref: jsonSchema.NZ.create.yaml#/properties/Organisation
              example:
                Organisation:
                  AddressList: {}
                  CommunicationChannelList: {}
                  ContactList:
                    Contact:
                      Name:
                        FamilyName: Dumbledore
                        GivenName: Albus
                        FullName: Albus Dumbledore
                      PositionTitle: Lead School Headmaster
                      Role: PRI
                      AddressList:
                        Address:
                          Type: TH
                          Role: PHY
                          Street:
                            Line1: 533 Hogwart's Way
                          City: Hogsmead
                          PostalCode: "7733"
                      EmailList: {}
                      PhoneNumberList: {}
                  EmailList:
                    Email:
                      - Type: PRIM
                        Address: stuart@gmail.com
                  LocationList: {}
                  Name: Masterton (Whakaoriori) KÄhui Ako
                  PhoneNumberList:
                    PhoneNumber:
                      Notes: Lead School Secretary (Mobile)
                      Type: MOB
                      Number: (021) 300 999
                  Type: 998
                  OrganisationRefId: D3E34B35-9D75-101A-8C3D-00AA001A1652
                  OrganisationLocalId: 99204
        default:
          description: Failed to retrieve object(s).
          content:
            application/json:
              schema:
                type: object
                title: error
                required:
                  - error
                  - when
                  - errorstr
                additionalProperties: false
                properties:
                  error:
                    type: integer
                  when:
                    type: string
                    format: date-time
                  errorstr:
                    type: string
                  refId:
                    type: string
                  localId:
                    type: string
              example:
                error: 1009
                when: 2020-07-16 20:00:46
                errorstr: "Bad field: PersonInfo-Name-FamilyName: missing required field
                  PersonInfo-Name-FamilyName (LastName) 'None'"
            application/xml:
              schema:
                type: object
                title: error
                required:
                  - error
                additionalProperties: false
                properties:
                  error:
                    type: object
                    required:
                      - error
                      - when
                      - errorstr
                    additionalProperties: false
                    properties:
                      error:
                        type: integer
                      when:
                        type: string
                        format: date-time
                      errorstr:
                        type: string
              example: >-
                <Error>
                  <error>1009</error>
                  <when>"2020-07-16 20:00:46</when>
                  <errorstr>Bad field: PersonInfo-Name-FamilyName: missing required field PersonInfo-Name-FamilyName (LastName) 'None'</errorstr>
                </Error>
  "/Enrolment/{EnrolmentRefId}":
    get:
      summary: Default operation to get a OrganisationStudentEnrolment
      operationId: getEnrolment
      parameters:
        - name: EnrolmentRefId
          in: path
          description: <p>The SIF GUID used by systems to identify the enrolment.</p>
          required: true
          schema:
            type: string
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  Enrolment:
                    $ref: jsonSchema.NZ.create.yaml#/properties/StudentProviderEnrolment
              example:
                StudentProviderEnrolment:
                  StudentProviderEnrolmentRefId: A8C3D3E3-4B35-9D75-101D-00AA001A1652
                  StudentProviderEnrolmentLocalId: 2004H102
                  Student:
                    RefId: d3e34b35-9d75-101a-8c3d-00aa001a1652
                  StudentId: 851039McG
                  Provider:
                    RefId: d3e34b35-9d75-101a-8c3d-00aa001a1651
                  EntryDate: 2018-01-29
                  Status: ACT
                  SchoolEnrolmentList:
                    SchoolEnrolment:
                      - SchoolCalendarYear: 2018
                        MembershipType: BASE
                        YearLevel: 11
                        FTE: 1
                        FundingType: EX
                        FundingYearLevel: 1
                        Curriculum: NZC
        default:
          $ref: "#/paths/~1Organisations~1%7BOrganisationsRefId%7D/get/responses/de\
            fault"
components:
  securitySchemes:
    devt:
      type: http
      scheme: basic
      description: >-
        HTTP Basic authentication is only available on 'sandbox' edsby
        environments

        to facilitate development testing
    sifDataObject:
      type: http
      scheme: bearer
      bearerFormat: SIF Session Token
      description: >-
        HTTP Bearer authentication is applied to all SIF data objects; with the
        bearer token being the SIF Session Token

        that was returned by a call to the [SIF environment](#operation/createEnvironment) service.
  error:
    type: object
    title: error
    required:
      - error
      - when
      - errorstr
    additionalProperties: false
    properties:
      error:
        type: integer
      when:
        type: string
        format: date-time
      errorstr:
        type: string
      refId:
        type: string
      localId:
        type: string
  parameters:
    syncOverride:
      name: x-http-method-override
      in: header
      description: Rather than CREATE records, treat this request as a SYNC request.
      schema:
        type: string
        oneOf:
          - enum:
              - IncrSYNC
            title: Incremental Synchronise Request
            description: Add and Update records from the POST to ensure all records are
              present in the repository
          - enum:
              - FullSYNC
            title: Full Synchronise Request
            description: Add, Update and **Delete** records to ensure that ONLY those
              records are present in the repository
